
@font-face {
  font-family: 'PersianFont';
  src: url('/fonts/Digikala -_font.ttf') format('truetype');
}

html,
body {
  min-height: 100%;
  direction: rtl;
}

.MuiButton-root{
  color: rgba(85, 13, 187, 0.68) !important
}
.th{
  font-weight: bold;
font-size: 24px;
}

#__next {
  height: 100%;
}
.MuiMenuItem-root,.MuiButton-root .MuiOutlinedInput-root .MuiOutlinedInput-input{
  font-family:'PersianFont' !important;
}

.MuiInputLabel-root {
  font-family:'PersianFont' !important;
}

.MuiTypography-root{
  font-family:'PersianFont' !important;
}

.MuiButton-root{
  font-family:'PersianFont' !important;
}

span , button, div,table,td{
    font-family:'PersianFont' !important;
}
th {
  font-family:'PersianFont' !important;
  font-size: 1rem;
}
.delete-img, .edit-img{
  width: 30px;
  height: 30px;
}

.brand-img{
  width: 160px;
  height: 160px;
}

.MuiTableCell-root .MuiTableCell-head{
  font-size: 18px;
  font-weight: bold;
}

.download-img-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iphone-img-con{
  height: 210px;
  width: 210px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-left: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.download-img-con{
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}


.delete-img-con{
  width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.delete-img-con:hover{
  background-color: rgb(196, 193, 189);
}
/* label .Mui-focused{
  transform: translate(31px, -9px) scale(1.3);
  float: right !important;
  right: 0px;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
} */

.MuiOutlinedInput-input{
  font-family:'PersianFont' !important;
}

code {
  font-family: 'Dancing Script', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
